<div class="py-md-5 py-4 border-bottom">
        <div class="container">
          <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-md-4 order-md-2 mb-2 mb-md-0 align-items-center text-center">
              <a class="navbar-brand" href="adminhome" ><p style="color: cornflowerblue;">Survey Solutions</p> </a>
            </div>
            <div class="col-md-4 order-md-1 d-flex topper mb-md-0 mb-2 align-items-center text-md-right">
              <div >
                <span></span>
              </div>
              <div class="pr-md-4 pl-md-0 pl-3 text">
                
              </div>
            </div>
            <div class="col-md-4 order-md-3 d-flex topper mb-md-0 align-items-center">
              <div><span ></span></div>
              <div class="text pl-3 pl-md-3">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
               
                <li class="nav-item"><a href="addSurvey" class="nav-link">Add Survey</a></li>
                <li class="nav-item"><a href="deleteSurvey" class="nav-link">Delete Survey</a></li>
                <li class="nav-item"><a href="addquestion" class="nav-link">Add Question</a></li>
                <li class="nav-item"><a href="deletequestion" class="nav-link">Delete Question</a></li>
                <li class="nav-item"><a href="assignsurvey" class="nav-link">Assign Survey</a></li>
                <li class="nav-item"><a href="review" class="nav-link">Review Survey</a></li>
                <li class="nav-item"><a href="logout" class="nav-link">LogOut</a></li>
              
            </ul>
          </div>
        </div>
      </nav>
<form name="form" #f="ngForm" novalidate class="col-lg-6 offset-lg-3">
    <div class="form-group">
      <div class="col-md-4 col-lg-4" >Select User</div>
      
          <select class="form-control" name="userSelected" [(ngModel)]="user.userId" #userSelected="ngModel"  
          [ngClass]="{'invalid-data': userSelected.invalid && f.submitted, 'valid-data': userSelected.valid && f.submitted}" required>  
          
          <option *ngFor="let user of userList" [value]="user.userId" >{{user.userName}}</option></select>
          <div *ngIf="userSelected.invalid && f.submitted">  
              <span style="color: red;">Please Select User.</span>  
            </div>  
  
        </div>
        <div class="form-group">
            <div class="col-md-4 col-lg-4" >Select Survey</div>
            
                <select class="form-control" name="surveySelected" [(ngModel)]="survey.surveyId" #surveySelected="ngModel"  
                [ngClass]="{'invalid-data': surveySelected.invalid && f.submitted, 'valid-data': surveySelected.valid && f.submitted}" required>  
                
                <option *ngFor="let survey of surveyList" [value]="survey.surveyId" >{{survey.surveyName}}</option></select>
                <div *ngIf="surveySelected.invalid && f.submitted">  
                    <span style="color: red;">Please Select User.</span>  
                  </div>  
        
        </div>
        <button type="submit"  value="assignsurvey" class="btn btn-success" (click)="assignsurvey(user.userId,survey.surveyId)" class="btn btn-primary mx-auto d-block">Assign survey</button>
</form>
